{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-12">
      <form id="post-form">
        {% csrf_token %}
        <h1> Enter your URL below </h1>
        
        <fieldset>
        
          <label for="url">URL:</label>
          <input type="url" id="url" />
                    
        </fieldset>
        <button type="submit" id="submit">Shorten URL</button>
        <section id="section"> <br><h2></h2></section>
       </form>
       

        </div>
      </div>

    </body>
</html>




<script type="text/javascript">
  function isUrlValid(userInput) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
  return !!pattern.test(userInput);
}

  $(document).ready(function ()
  {
      $("section").hide();
      console.log("docuemtn ready");
      $("#url").on("change input", function(e)
  {
    value = $("#url").val()
    console.log("finding url", value,isUrlValid(value));
    if(!isUrlValid($("#url").val()))
    {
      $('#submit').prop('disabled',true).css('opacity',0.5);
    }
    else
    {
      $("#submit").prop('disabled', false).css('opacity',1);
    }
  });
  });


  $(document).on('submit','#post-form',function(e){
    e.preventDefault();
    console.log("API CALL from docuemt");
    $("section").show();
    $.ajax({
      type:'POST',
      url:'/create',
      data:{
        link:$('#url').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        $('h2').html("localhost:8000/"+data);
        console.log("data received is", data);
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $('h2').html("Invalid URL entered")
      }
    });
  });
</script>
{% endblock %}